.search-box {
    position: relative;
    display: inline-block;
    width: 100%;

    &__input {
        border: none;
        outline: none;
        height: 46px;
        width: 100%;
        width: 100%;
        border-radius: 8px;
        padding: 5px 48px 5px 10px;
        font-size: 20px;
        border: 1px solid var(--txt-color);
    }
    
    &__icon {
        position: absolute;
        border: none;
        outline: none;
        background: transparent;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        font-size: 18px;
        color: var(--txt-secondary);
        cursor: pointer;
        
        svg {
            width: 28px;
            height: 28px;
        }
    }
}

