.categories-article-aside {
    background: var(--bg-color-main);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 768px) {
        padding: 32px 8px;
        box-shadow: none;
    }

    @media screen and (max-width: 425px) {
        padding: 16px 8px;
    }

    &__block {
        margin: 0 0 128px 0;

        @media screen and (max-width: 1200px) {
            margin: 0 0 96px 0;
            padding: 0;
        }

        @media screen and (max-width: 768px) {
            margin: 0 0 64px 0;
            padding: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 1200px) {
            gap: 12px;
        }
    }

    &__h2 {
        margin: 0 0 64px 0;
        font-size: 28px;

        @media screen and (max-width: 1200px) {
            margin: 0 0 32px 0;
        }
    }

    &__link {
        font-size: 20px;
        width: fit-content;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        @media screen and (max-width: 1024px) {
            font-size: 18px;
        }

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }

        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
}