.categories-article-form {
    background: var(--bg-color-main);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
    &__label {
        margin: 0 0 16px 0;
        font-size: 16px;
        display: inline-block;
    }

    &__textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid var(--txt-secondary);
        border-radius: 4px;
        background-color: #fff;
        color: #000;
        font-size: 16px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        resize: vertical;
        transition: border 0.3s ease, box-shadow 0.3s ease;
        margin: 0 0 16px 0;

        &::placeholder {
            display: none;
        }

        &:hover {
            border-color: #888;
        }

        &:focus {
            border-color: var(--header-hover-color);
            box-shadow: 0 0 5px rgba(2, 71, 173, 0.5);
            outline: none;
            background-color: #fefefe;
        }
    }

    &__button {
        position: relative;
        display: inline-block;
        overflow: hidden;
        font-size: 18px;
        padding: 8px 16px;
        width: 100%;
        max-width: 140px;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 2;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;
        border: none;
        outline: none;
        border-radius: 4px;
        background: var(--txt-color);
        color: var(--bg-color-main);

        &:hover {
            color: var(--txt-color);
            &::before {
                width: 100%;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: var(--header-hover-color);
            transition: width .3s ease-in-out;
            z-index: -1;
        }
    }
}