.categories-article-nav {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 16px;
        border: 1px solid var(--bg-color-main);
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
        flex-grow: 1;

        &:hover {
            background-color: var(--bg-color-secondary);
            color: var(--header-hover-color);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
            transform: translateY(-4px);

            .news-article-nav__button {
                fill: var(--header-hover-color);
            }
        }

        @media screen and (max-width: 768px) {
            padding: 12px;            
        }

        @media screen and (max-width: 425px) {
            padding: 8px;            
        }
    }

    &__button {
        fill: var(--txt-color);
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;

        @media screen and (max-width: 425px) {
            width: 16px;
            height: 16px;
            min-width: 16px;
            min-height: 16px;
        }
    }

    &__h2 {
        font-size: 22px;

        &--small {
            font-size: 18px;

            @media screen and (max-width: 68px) {
                font-weight: 500;
            }

            @media screen and (max-width: 425px) {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}

