@use 'top.scss';
@use 'important.scss';
@use 'marquee.scss';
@use 'news.scss';

.main {
    padding: 32px 0 64px;
    background: var(--bg-color-secondary);
    font-family: "Namu";

    @media screen and (max-width: 768px) {
        padding: 32px 0;
    }
}

