/* Стиль для нового цвета Primary Blue */
.has-primary-blue-new-background-color {
    background-color: #0057b8;
}
.has-primary-blue-new-color {
    color: #0057b8;
}

/* Стиль для Golden Yellow */
.has-golden-yellow-background-color {
    background-color: #ffd700;
}

.has-golden-yellow-color {
    color: #ffd700;
}

/* Стиль для Black */
.has-black-background-color {
    background-color: #000000;
}
.has-black-color {
    color: #000000;
}

/* Стиль для White */
.has-white-background-color {
    background-color: #ffffff;
}
.has-white-color {
    color: #ffffff;
}

/* Стиль для Red */
.has-red-background-color {
    background-color: #ff0000;
}
.has-red-color {
    color: #ff0000;
}

/* Стиль для Green */
.has-green-background-color {
    background-color: #00ff00;
}
.has-green-color {
    color: #00ff00;
}

/* Стиль для Blue */
.has-blue-background-color {
    background-color: #0000ff;
}
.has-blue-color {
    color: #0000ff;
}
